@(courses: List[(String, Int)])

@extra = {
    <script src="@routes.Assets.versioned("bower_components/webcomponentsjs/webcomponents-lite.min.js")" type="text/javascript"></script>
    <link rel="import" href="@routes.Assets.versioned("elements/course-list.html")">
}

@main("Dashboard", extra) {
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
        <div class="col-md-11">
            <h1>My Courses</h1>
            <hr>
            @for(course <- courses zip (0 until courses.size)) {
                <a href="/course/@course._1._1" type="button" class="btn btn-default" aria-label="Pencil">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <span>@course._1._1</span>
                <button type="button" class="btn btn-default right" aria-label="Pencil" data-toggle="modal" data-target="#modal@course._2">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>

                <!-- modal -->
                <div class="modal fade" id="modal@course._2" tabindex="-1" role="dialog" aria-labelledby="removeModal@course._2">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="removeModal@course._2">Confirm</h4>
                      </div>
                      <div class="modal-body">
                        Are you sure to remove this Course
                      </div>
                      <div class="modal-footer">
                        <a href="/course/unsubscribe/@course._1._1" type="button" class="btn btn-default">Yes</a>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                      </div>
                    </div>
                  </div>
                </div>

                <p></p>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="@course._1._2" aria-valuemin="0" aria-valuemax="100" style="width: @course._1._2%;">
                    @course._1._2%
                  </div>
                </div>
                <hr>
            }
        </div>
        <div class="col-md-1">
            <div class="container-fluid">
                <course-list></course-list>
            </div>
        </div>
    </div>
}