@(githubCourseForm: Form[(String, String, String, String)])(implicit flash: Flash, messages: MessagesApi, lang: Lang)

@extra = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/form.css")">
}

@main("Github Formular", extra) {
  @navigation(
    List(
      (messages("tmenu.title"), "/home"),
      (messages("tmenu.courses"), "/courses"),
      (messages("tcourses.addgithub"), "")
    ),
    messages("nav.logout")
  )

  <div class="col-xs-0 col-md-3"></div>
  <div class="col-xs-12 col-md-6 center">
    @helper.form(action = routes.Application.postGithubCourseForm()) {

      @flash.get("success").map { message =>
        <div class="alert alert-info">@message</div>
      }

      @flash.get("failure").map { message =>
        <div class="alert alert-danger">@message</div>
      }

      @githubCourseForm.globalError.map { error =>
        <p class="error">@error.message</p>
      }

      <p><input type="text" name="Course Title" placeholder="@messages("form.github.coursetitle")"></p>
      <p><input type="text" name="Github User" placeholder="@messages("form.github.username")"></p>
      <p><input type="text" name="Github Repo" placeholder="@messages("form.github.repository")"></p>
      <p><input type="text" name="Repo Path" placeholder="@messages("form.github.path")"></p>
      <p><button class="btn standard" type="submit">@messages("form.github.addcourse")</button></p>
    }
  </div>
  <div class="col-xs-0 col-md-3"></div>
}