@(loginForm: Form[(String, String)])(implicit flash: Flash)


@main("login") {
    <div class="container vcenter">
        @helper.form(action = routes.Auth.authenticate) {

            @flash.get("success").map { message =>
                <div class="alert alert-info">@message</div>
            }

            @loginForm.globalError.map { error =>
                <div class="alert alert-warning">@error.message</div>
            }
            
            <p><input type="email" name="email" placeholder="Email" value="@loginForm("email").value"></p>
            <p><input type="password" name="password" placeholder="Password"></p>
            <p><button class="btn standard" type="submit">Login</button></p>
            <span>You can register </span><a href="/register">here</a>
        }
    </div>
}