@(loginForm: Form[(String, String)])(implicit flash: Flash, messages: MessagesApi, lang: Lang)

@main(messages("login.title")) {
    <div class="container vcenter">
        @helper.form(action = routes.Auth.authenticate) {

            @flash.get("success").map { message =>
                <div class="alert alert-info">@message</div>
            }

            @loginForm.globalError.map { error =>
                <div class="alert alert-warning">@messages(error.message)</div>
            }
            
            <p><input type="email" name="email" placeholder="@messages("login.email")" value="@loginForm("email").value"></p>
            <p><input type="password" name="password" placeholder="@messages("login.password")"></p>
            <p><button class="btn standard" type="submit">@messages("login.login")</button></p>
            <span>@messages("login.register")</span><a href="/register"> @messages("login.here")</a>
        }
    </div>
}