@(registerForm: Form[(String, String, String)])(implicit flash: Flash, messages: MessagesApi, lang: Lang)


@main(messages("register.title")) {
    <div class="container vcenter">
        @helper.form(action = routes.Auth.submit()) {

        		@flash.get("failure").map { message =>
                    <div class="alert alert-danger">@message</div>
                }

                @registerForm.globalError.map { error =>
                	<div class="alert alert-warning">@messages(error.message)</div>
                }

                <p><input type="email" name="email" placeholder="@messages("login.email")" value="@registerForm("email").value"></p>
                <p><input type="password" name="password" placeholder="@messages("login.password")"></p>
                <p><input type="password" name="password2" id="password2" placeholder="@messages("login.password")"></p>
                <p><button class="btn standard" type="submit">@messages("register.register")</button></p>
        }
    </div>
}