@(courses: List[(Long, String, Boolean)])

@extra = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/teachercourses.css")">
}

@main("Courses", extra) {
  @navigation(List(("Home", "/home"), ("Courses", "")))
  <div id="main">
    <!-- sidebar -->
    <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <ul class="nav nav-pills">
          <li class="active">
            <a href="/forms/githubcourse">
              <span class="glyphicon glyphicon-cloud"></span>
              add course from github
            </a> 
          </li>
          <li class="active">
            <a href="/forms/filecourse">
              <span class="glyphicon glyphicon-folder-open"></span>
              add course from folder
            </a> 
          </li>            
        </ul>
    </div>

    <!-- main area -->
    <div class="col-xs-12 col-sm-9" id="content">
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Options</th>
        </tr>
        @for(course <- courses) {
          <tr>
            <td>@course._1</td>
            <td>@course._2</td>
            <td>
              <button type="button" class="btn btn-default" aria-label="Pencil" data-toggle="modal" data-target="#modal@course._1">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
              @if(course._3) {
                <a href="/operation/courses/update/@course._1" type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </a>
              }
            </td>
          </tr>

          <!-- modal -->
          <div class="modal fade" id="modal@course._1" tabindex="-1" role="dialog" aria-labelledby="removeModal@course._1">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="removeModal@course._2">Confirm</h4>
                </div>
                <div class="modal-body">
                  Sind Sie sicher dass Sie den Kurs löschen wollen?
                </div>
                <div class="modal-footer">
                  <a href="/operation/courses/delete/@course._1" type="button" class="btn btn-default">Yes</a>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
        }
      </table>
    </div>
  </div>
}