@()(implicit messages: MessagesApi, lang: Lang)

@extra = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/teachermenu.css")">
}

@main(messages("tmenu.title"), extra) {
  @navigation(List((messages("tmenu.title"), "")))

  <div class="container">
    <div class="menu-list hcenter">
        <a href="/overview">
          <span class="glyphicon glyphicon-signal"></span>
          <p>@messages("tmenu.overview")</p>
        </a>
        <a href="/courses">
          <span class="glyphicon glyphicon-list-alt"></span>
          <p>@messages("tmenu.courses")</p>
        </a>
        <a href="/users">
          <span class="glyphicon glyphicon-user"></span>
          <p>@messages("tmenu.users")</p>
        </a>
    </div>
  </div>
}