@(codeTask: models.CodeTask)

@main("Welcome to Play") {

<div id="navright" class="col-md-4"></div>
<div id="workspace" class="col-md-8">
	<p>@codeTask.description</p>

	<div style="width: 200px;"><pre id="editor">@codeTask.code</pre></div>
	
	<form id="form1" method="post" action="interpret">
	<input type="submit" name="button" id="button" value="Send" />
	</form>

	<textarea id="consoleOutput">@codeTask.code</textarea>

	<script src="src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>
	    var editor = ace.edit("editor");
	    editor.setTheme("ace/theme/solarized_dark");
	    editor.session.setMode("ace/mode/scala");

	    function sendCode() {
	    	$.post("interpret", {code: editor.getValue()})
	    		.done(function(data){
	    			console.log(data);
	    			$("consoleOutput").value = data.consoleOutput;
	    		})
	    		.fail(function() {
	    			$("consoleOutput").value = "Request failed";
	    		})
	    }
	</script>
</div>

}
