@main("Test") {

<div id="navright" class="col-md-4"></div>
<div id="workspace" class="col-md-8">
	<p>Taskdeskription</p>

	<div style="width: 200px;"><pre id="editor">//Code hier</pre></div>
	
	<input type="submit" name="button" id="button" value="Send" onclick="sendCode()"/>

	<div id="consoleOutput"></div><br>

	<script src="src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>
	    var editor = ace.edit("editor");
	    editor.setTheme("ace/theme/solarized_dark");
	    editor.session.setMode("ace/mode/scala");

	    function sendCode() {
	    	$.get("testInterpret/" + editor.getValue())
	    		.done(function(data){
	    			console.log(data);
	    			$("#consoleOutput").text(data);
	    		})
	    		.fail(function() {
	    			$("#consoleOutput").text("Request failed");
	    		})
	    }
	</script>
</div>

}
